<div class="container">
  <h1>Les produits</h1>
  <div *ngIf="loading" class="loading">Chargement...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div
    *ngIf="!loading && !error"
    class="grid"
    style="grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))"
  >
    <article
      *ngFor="let product of products"
      class="p-1"
      style="border: 1px solid var(--border)"
    >
      <h2>{{ product.name }}</h2>
      <p>{{ product.description || "Aucune description" }}</p>
      <p>
        <strong>{{ product.price }}€</strong>
      </p>
      <a [routerLink]="['/products', product.id]">Voir détails</a>
      <button class="btn-success" (click)="addToCart(product)">
        Ajouter au panier
      </button>
    </article>
  </div>

  <p *ngIf="!loading && !error && products.length === 0" class="text-center">
    Aucun produit disponible.
  </p>
</div>
