<nav aria-label="Navigation principale">
  <div class="container nav-container">
    <a href="/" class="logo">Web Full Stack</a>
    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Accueil
        </a>
      </li>
      <li>
        <a routerLink="/products" routerLinkActive="active"> Produits </a>
      </li>
      <li>
        <a routerLink="/cart" routerLinkActive="active" class="cart-link">
          Panier
          <span
            class="badge"
            *ngIf="(totalItems$ | async)! > 0"
            [attr.aria-label]="
              (totalItems$ | async) + ' articles dans le panier'
            "
          >
            {{ totalItems$ | async }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/account" routerLinkActive="active"> Mon Compte </a>
      </li>
    </ul>
  </div>
</nav>
